%div{:class => 'row-fluid'}
  #wrap

%script#reportCatalogList{:type => 'text/x-handlebars-template'}
  
%script#navMenuView{:type => "text/x-handlebars-template"}
  %h3 {{menuHeader}}
  .clear
  %button.addReport.btn Add Report
  %a{:href => "http://localhost:3000"} Home



