<a style='display:block;width:200px;'>{{name}}</a>
<div class='btn-group'>
	<button class='showReport btn btn-small'>Show Report</button>
	<button class='remove_report btn btn-small btn-danger'>Destroy</button>
</div>